# Scrapping

The dataset was in PDF file format. Tabula library has been used to scrap it so can be process further.

In [1]:
# conda install -c conda-forge tabula-py
import tabula

In [18]:
# There is 4 pages in the pdf file, use for loop to extract into a list
#
list = []
for i in range(1, 5) :
    j = str(i)
    pdf = tabula.io.read_pdf('Halte Trans Koetaradja.pdf', pages=j, stream=True, output_format='dataframe')
    list.append(pdf)

len(list) # The result is list of list of dataframe
#
# Every list represent each table from each page

4

# Cleaning

Every dataframe scraped from tabula have different standard. So in this case every dataframes will be treated differently.

Pandas library has been used to perform various operations on dataframes.

In [4]:
# conda install -c anaconda pandas
import pandas as pd

## 1st dataframe from dataset

In [5]:
# extracting table from page 1
corr1 = pd.DataFrame(list[0][0])

In [6]:
# Each page represent each corridor, so we add corridor identifier after index
# Corridor 1 : City Center-Darussalam Route
corr1.insert(0, 'Corridor', 1)

In [7]:
# Remove unused column
corr1.drop(columns=['NO', 'NAMA', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename non the rest
corr1.rename(columns={'Unnamed: 1' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr1.head()

    Corridor                               Name          Coordinates
0          1                       HALTE KEUDAH  5.559781, 95.317649
1          1         HALTE PORTABLE MASJID RAYA  5.553979, 95.318540
2          1                     HALTE SP. LIMA  5.556597, 95.323211
3          1                 HALTE KP. KEURAMAT  5.558210, 95.327378
4          1      HALTE PORTABLE SP. JAMBO TAPE  5.559729, 95.330911
5          1                        HALTE RSUZA  5.565763, 95.337352
6          1             HALTE KANTOR GUB. ACEH  5.571251, 95.342931
7          1                       HALTE LINGKE  5.575517, 95.347320
8          1           HALTE PORTABLE SP. MESRA  5.580420, 95.353206
9          1            HALTE PORTABLE LAMNYONG  5.575038, 95.355430
10         1              HALTE FAKULTAS TEKNIK  5.566064, 95.366778
11         1          HALTE FAKULTAS KEDOKTERAN  5.564918, 95.372027
12         1  HALTE PORTABLE FAKULTAS PERTANIAN  5.566133, 95.371822
13         1                 HALTE MASJID JAMI'  5.571456, 95.371424
14         1            HALTE PORTABLE SMA LIMA  5.574906, 95.367055
15         1                     HALTE LAMNYONG  5.575536, 95.355065
16         1                    HALTE SP. MESRA  5.579951, 95.352974
17         1                        HALTE PRADA  5.573958, 95.345972
18         1                         HALTE DPKA  5.570738, 95.342698
19         1                        HALTE RSUZA  5.564713, 95.336554
20         1          HALTE PORTABLE JAMBO TAPE  5.559908, 95.331420
21         1                 HALTE KP. KEURAMAT  5.557950, 95.327167
22         1            HALTE PORTABLE SP. LIMA  5.556219, 95.322956
23         1                    HALTE PEUNAYONG  5.558637, 95.318945
24         1     HALTE PORTABLE EKONOMI UNSYIAH  5.573954, 95.365612
25         1           HALTE PORTABLE BEURABONG  5.568054, 95.377066

## 2nd dataframe from dataset

In [8]:
# extracting dataframe
corr2 = pd.DataFrame(list[1][0])

In [9]:
# Corridor 2 : City Center-Blang Bintang Route
corr2.insert(0, 'Corridor', 2)

In [10]:
# Remove unused column
corr2.drop(columns=['NO', 'TAHUN PEMBANGUNAN'], axis=1, inplace=True)

# Remove NaN Coordinates
corr2.dropna(axis=0, inplace=True)

# Rename the rest
corr2.rename(columns={'NAMA' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr2.head()

,Corridor,Name,Coordinates
0,2,HALTE PELABUHAN ULEE LHEUE TIPE A,"5.564047, 95.292068"
1,2,HALTE KUBURAN MASSAL 1 ULEE LHEUE,"5.555766, 95.285874"
2,2,HALTE KUBURAN MASSAL 2 ULEE LHEUE (seberang),"5.555576, 95.285798"
3,2,HALTE PUNGE 1 (Seberang kantor WIKA),"5.550702, 95.306764"
4,2,HALTE PASAR ACEH BARU,"5.555505, 95.316060"
5,2,HALTE MASJID RAYA BAITURRAHMAN,"5.554093, 95.318361"
6,2,HALTE Sp. SURABAYA 1 (depan Dunia Barusa),"5.542107, 95.330246"
7,2,HALTE Sp. SURABAYA 2 (depan Wong Solo),"5.547179, 95.330122"
8,2,HALTE Sp. BATOH 1 (Simpang AMD),"5.534133, 95.330384"
9,2,HALTE Sp. BATOH 2 (seberang SPBU BATOH),"5.535071, 95.330133"
10,2,HALTE DEPAN TERMINAL BATOH 1,"5.529697, 95.330137"
11,2,HALTE DEPAN TERMINAL BATOH 2 (seberang),"5.529722, 95.330331"
12,2,HALTE DARUL IMARAH 1 (Depan SMA 1 DARUL IMARAH),"5.514488, 95.331001"
13,2,HALTE DARUL IMARAH 2 (Sp. LAMPEUNEURUT),"5.514853, 95.330035"
14,2,HALTE SIRON 1 (DEPAN SD SIRON),"5.511284, 95.362883"
15,2,HALTE SIRON 2 (DEPAN CLINIC PMI SIRON),"5.511184, 95.363218"
16,2,HALTE GANI 1 DEPAN SD GANI),"5.513257, 95.380454"
17,2,HALTE GANI 2 (DEPAN PUSTU GANI),"5.513257, 95.380454"
18,2,HALTE BLANG BINTANG 1 (depan Masjid),"5.510991, 95.413920"
19,2,HALTE BLANG BINTANG 2 (bundaran LANUD),"5.510519, 95.414005"
20,2,HALTE BARATA,"5.552143, 95.318819"
21,2,HALTE MUSEUM TSUNAMI,"5.548495, 95.314140"
26,2,HALTE PORTABLE DEPAN SMA 1 BLPD,"5.552408, 95.312943"
32,2,HALTE PORTABLE LAB SCHOOL UNSYIAH,"5.574398, 95.365406"
33,2,HALTE LAMBARO (DEPAN YAMAHA),"5.507380, 95.356315"
34,2,HALTE PUNGE 2 (DEPAN KANTOR WIKA),"5.550533, 95.306570"

## 3rd dataframe from dataset

In [11]:
# extracting table
corr3 = pd.DataFrame(list[2][0])

# Corridor 3 : City Center-Mata Ie Route
corr3.insert(0, 'Corridor', 3)

In [12]:
# Remove unused row
# the last bus stop (index=20) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr3.drop(index=[0, 1, 20], inplace=True)

# Remove unused column
corr3.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr3.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 3' : 'Coordinates' }, inplace=True)
corr3.head()

,Corridor,Name,Coordinates
2,3,HALTE MUSEUM ACEH,"5.549426, 95.320457"
3,3,HALTE GUNONGAN (1),"5.545646, 95.315278"
4,3,HALTE GUNONGAN (2) (Depan Kuburan Kierkoff),"5.546060, 95.315273"
5,3,HALTE SEULAWAH,"5.541205, 95.310541"
6,3,HALTE PASAR SETUI (1),"5.539242, 95.309068"
7,3,HALTE PASAR SETUI (2),"5.539675, 95.309062"
8,3,HALTE TEUKU UMAR (1) (Depan Masjid Teuku Umar),"5.537549, 95.307415"
9,3,HALTE TEUKU UMAR (2) (Samping Suzuya Mall),"5.538168, 95.307633"
10,3,HALTE GEUCEU (1) (Depan RS. Fakinah),"5.529809, 95.303627"
11,3,HALTE GEUCEU (2) (Seberang RS. Fakinah),"5.530125, 95.303501"
12,3,HALTE ASRAMA TNI (1) (Depan Zidam Iskandar Muda),"5.523261, 95.302630"
13,3,HALTE ASRAMA TNI (2) (Depan Asrama Perwira TNI),"5.523320, 95.302452"
14,3,HALTE KEUTAPANG (1) (Depan KFC),"5.517501, 95.303551"
15,3,HALTE KETAPANG (2) (Depan Bank Mandiri),"5.514303, 95.303392"
16,3,HALTE TVRI (1),"5.508944, 95.303334"
17,3,HALTE TVRI (2),"5.508934, 95.303205"
18,3,HALTE MUHAMMADIYAH (Depan Masjid Muhammadiyah),"5.553305, 95.314040"
19,3,HALTE MATA IE (Depan Kolam Mata Ie),"5.496592, 95.296385"

## 4th dataframe from dataset

In [13]:
# extracting table
corr4 = pd.DataFrame(list[3][0])

# Corridor 4 : City Center-Ulee Kareng - Blang Bintang Route
corr4.insert(0, 'Corridor', 4)

In [14]:
# Remove unused row
# the last bus stop (index=24) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr4.drop(index=[0, 1, 24], inplace=True)

# Remove unused column
corr4.drop(columns=['Unnamed: 0', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr4.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 2' : 'Coordinates' }, inplace=True)
corr4.head()

,Corridor,Name,Coordinates
2,4,HALTE KESDAM 1 (Depan RS. Kesdam),"5.555050, 95.324288"
3,4,HALTE KESDAM 2 (Depan Kantor Pos),"5.555414, 95.325603"
4,4,HALTE KUTA ALAM 1 (Depan Masjid Babuttaqwa),"5.554665, 95.329638"
5,4,HALTE KUTA ALAM 2 (Depan Asrama TNI),"5.554686, 95.329473"
6,4,HALTE HERMES 1 (Depan Rumah Cut Zein),"5.553984, 95.332866"
7,4,HALTE HERMES 2,"5.553875, 95.332354"
8,4,HALTE BPKP 1,"5.553621, 95.343309"
9,4,HALTE BPKP 2 (Depan Panglong Kayu),"5.553429, 95.343173"
10,4,HALTE SD 56 (1),"5.551848, 95.352067"
11,4,HALTE SD 56 (2),"5.551666, 95.352448"
12,4,HALTE ULEE KARENG 1 (Depan Gudang Donya),"5.551641, 95.354870"
13,4,HALTE ULEE KARENG 2 (Masjid Baitussalihin),"5.551371, 95.355865"
14,4,HALTE BABUSSALAM 1 (Depan Masjid As Syifa),"5.546598, 95.362810"
15,4,HALTE BABUSSALAM 2 (Lewat Masjid As Syifa),"5.544462, 95.365203"
16,4,HALTE ABULYATAMA 1,"5.531089, 95.387730"
17,4,HALTE ABULYATAMA 2 (Depan Pasantren Baitussabri),"5.530865, 95.388305"
18,4,HALTE LAM ATEUK 1 (Lewat Dayah Lam Ateuk),"5.532918, 95.393197"
19,4,HALTE LAM ATEUK 2 (Smpng Dayah Lam Ateuk),"5.531700, 95.391097"
20,4,HALTE BUENG CALA 1 (Depan SD Bueng Cala),"5.528145, 95.407072"
21,4,HALTE BUENG CALA 2 (Depan Komplek Rumah Perhub...,"5.526318, 95.401094"
22,4,HALTE BLANG BINTANG 1,"5.525412, 95.414448"
23,4,HALTE BLANG BINTANG 2,"5.525502, 95.414161"

## Merge all dataframes

In [15]:
bus_stops_df = pd.concat([corr1, corr2, corr3, corr4], ignore_index=True)
bus_stops_df

,Corridor,Name,Coordinates
0,1,HALTE KEUDAH,"5.559781, 95.317649"
1,1,HALTE PORTABLE MASJID RAYA,"5.553979, 95.318540"
2,1,HALTE SP. LIMA,"5.556597, 95.323211"
3,1,HALTE KP. KEURAMAT,"5.558210, 95.327378"
4,1,HALTE PORTABLE SP. JAMBO TAPE,"5.559729, 95.330911"
...,...,...,...
87,4,HALTE LAM ATEUK 2 (Smpng Dayah Lam Ateuk),"5.531700, 95.391097"
88,4,HALTE BUENG CALA 1 (Depan SD Bueng Cala),"5.528145, 95.407072"
89,4,HALTE BUENG CALA 2 (Depan Komplek Rumah Perhub...,"5.526318, 95.401094"
90,4,HALTE BLANG BINTANG 1,"5.525412, 95.414448"
91,4,HALTE BLANG BINTANG 2,"5.525502, 95.414161"

# Foursquare API Call

In [ ]:
# ID & SECRET from Foursquare Developers 
CLIENT_ID = 'KJK4UUMN0TGCJFCHKWJCWMU5GCJDLA0L3SPCDV0IKCEWKBI4'
CLIENT_SECRET = '4TJHK5VRV3JKHRUM1PX0BKNGI4A0UTGGVBAJTGRRDK2ZYZEX'
VERSION = '20180323'

In [ ]:
# Standart call format to get Foursquare categories
#
categories_url = 'https://api.foursquare.com/v2/venues/categories?client_id={}&client_secret={}&v={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
# GET request
results = requests.get(categories_url).json()

In [ ]:
import json 

# Save into .json to avoid recall
#
with open('categories.json', 'w') as json_file:
    json.dump(results, json_file)

# Open .json file to see top ten Foursquare caategory
with open('categories.json', 'r') as f:
    results = json.load(f)

len(results['response']['categories'])

In [ ]:
# Print top-level categories and their IDs and also add them to categories_list
#
categories_list = []
def print_categories(categories, level=0, max_level=0):    
    if level>max_level: return
    out = ''
    out += '-'*level
    for category in categories:
        print(out + category['name'] + ' (' + category['id'] + ')')
        print_categories(category['categories'], level+1, max_level)
        categories_list.append((category['name'], category['id']))
        
print_categories(results['response']['categories'], 0, 0)

In [20]:
# Function, Foursquare API call to get venues based on categories above
#
def get_venues_count(ll, radius, categoryId):
    explore_url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={}&radius={}&categoryId={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION,
                ll,
                radius,
                categoryId)

    # GET request
    return requests.get(explore_url, proxies=proxies).json()['response']['totalResults']

In [ ]:
# Create copy dataframe to merge it with venues data
#
venues_df = bus_stops_df.copy()
for c in categories_list:
    venues_df[c[0]] = 0

venues_df

In [ ]:
# Request count of venues, store result as CSV
#
for i, row in venues_df.iterrows():
    print(i)
    for c in categories_list:        
        venues_df.loc[i, c[0]] = get_venues_count(venues_df.Coordinates.iloc[70], radius=500, categoryId=c[1])
    venues_df.to_csv(venues.csv')

# Plotting to a box plot using atrtist layer

In [ ]:
# Read venues csv
import pandas as pd
venues_df = pd.read_csv('venues.csv', index_col=0)
venues_df.head()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
box_venues = venues_df.drop('Corridor', axis=1) #drop corridor labes, exclude from boxplot

plt.figure(figsize=(20, 10))
ax = sns.boxplot(data = box_venues, orient='h', palette='Set2')

# More detail costumization
ax.set_ylabel('Count', fontsize=25)
ax.set_xlabel('Categories', fontsize=25)
ax.tick_params(labelsize=15)
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
venues_df.drop('Event',1, inplace=True) # drop event, mostly 0 and value > 0 is outliers

# Clustering

In [ ]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [ ]:
X = venues_df.iloc[:,3:]
X = np.nan_to_num(X)
cluster_ds = MinMaxScaler().fit_transform(X)
cluster_ds[:5]

In [ ]:
# check for optimum k value using yellowbrick library

from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer

# Instantiate the clustering model and visualizer
model = KMeans()
visualizer = KElbowVisualizer(model, k=(1,12)) # estimate 1 to 12 clusters

visualizer.fit(cluster_ds)        # Fit the data to the visualizer
visualizer.show()        # Finalize and render the figure

In [ ]:
# labeling based on cluster

from sklearn.cluster import KMeans 

# using k value from yellowbrick plot recomendation
k = 4
k_means = KMeans(init = "k-means++", n_clusters = k, n_init = 20)
k_means.fit(cluster_ds)
labels = k_means.labels_
print(labels)

In [ ]:
# Add labels to dataframe
venues_df['Cluster'] = labels
cluster_df = venues_df
cluster_df.head()

In [ ]:
# count per cluster 
count={}
for b in range(k):
    count["Cluster {0}".format(b+1)]=cluster_df.loc[cluster_df['Cluster'] == b].shape[0]
    
print(count)

In [ ]:
import matplotlib.ticker as ticker

fig, axes = plt.subplots(1, k, figsize=(20, 10), sharey=True)

axes[0].set_ylabel('Count of venues', fontsize=25)
#plt.set_xlabel('Venue category', fontsize='x-large')

for a in range(k):
    #Set same y axis limits
    axes[a].xaxis.set_label_position('top')
    axes[a].set_xlabel('Cluster ' + str(a+1), fontsize=25)
    axes[a].tick_params(labelsize=20)
    plt.sca(axes[a])
    plt.xticks(rotation='vertical')
    sns.boxplot(data = cluster_df.loc[cluster_df['Cluster'] == a].drop(['Cluster', 'Corridor'],1), ax=axes[a])

plt.show()

## Visualization using GeoPy and Folium

Get Banda Aceh City latitude and longitude from GeoPy

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
# Get center location of Banda Aceh
#
locator = Nominatim(user_agent='myGeocoder', timeout=2) # using timeout > 1 to prevent timeout error
location = locator.geocode('Banda Aceh')
print('Location : ', location)
print('Banda Aceh Latitude = {} \nBanda Aceh Longitude = {}'.format(location.latitude, location.longitude))

In [ ]:
# Make distance column

# Make column for each lan & lon
cluster_df['lat'] = cluster_df.Coordinates.str[:8].astype(float)
cluster_df['lon'] = cluster_df.Coordinates.str[10:].astype(float)

# Minkowski distance
cluster_df['lat_diff'] = (cluster_df['lat'] - location.latitude)**2 # location.latitude Banda Aceh from first map
cluster_df['lon_diff'] = (cluster_df['lat'] - location.longitude)**2 # location.longitude Banda Aceh from first map
cluster_df['distance'] = cluster_df[['lat_diff','lon_diff']].sum(axis=1).pow(1./2)

In [ ]:
# Second Folium map plotting after clustering

# Line color codes
line_colors = {
    '1':'red',
    '2':'green',
    '3':'blue',
    '4':'black',
    '5': 'white'
}

def draw_lines(dataframe, map_object, opacity=1):
    prev_coordinates = None
    prev_corridor= '1'
    for corridor, coordinates in zip(dataframe['Corridor'], dataframe['Coordinates']):
        latlong = [float(x) for x in coordinates.split(',')]
        #don't draw line if line number changed
        if corridor != prev_corridor:
            prev_coordinates = None
        if prev_coordinates != None:
            folium.PolyLine([prev_coordinates, latlong], color=line_colors[str(corridor)], opacity=opacity).add_to(map_object)
        prev_corridor = corridor
        prev_coordinates = latlong
        
# Marking each bus stop
colors=['purple','blue','green','red']
# Loop through the dataframe and add each data point to the mark cluster
for corridor, name, coordinates, cluster in zip(venues_df.Corridor, venues_df.Name, venues_df.Coordinates, venues_df.Cluster):
    latlong = [float(x) for x in coordinates.split(',')]
    folium.CircleMarker(
        latlong,
        fill=True,
        fill_opacity=0.5,
        radius=5,
        color=colors[cluster]
    ).add_to(cluster_map)

        
# display map
draw_lines(cluster_df.sort_values(['Corridor', 'distance']), cluster_map, opacity=1)
cluster_map