# Scrapping table from pdf file

In [ ]:
# pip install tabula-py
import tabula

there is 4 pages in the pdf file, use for loop to extract it to list

In [ ]:
list = []
for i in range(1, 5) :
    j = str(i)
    pdf = tabula.io.read_pdf('Halte Trans Koetaradja.pdf', pages=j, stream=True, output_format='dataframe')
    list.append(pdf)

the result is list of list of dataframe

In [ ]:
len(list)

# Cleaning

Every dataframe is using diferent table standard, so every dataframes will be treated differently

In [ ]:
# import pandas library
import pandas as pd

## Table from page 1

In [ ]:
# extracting table from page 1
corr1 = pd.DataFrame(list[0][0])

In [ ]:
# Each page represent each corridor, so we add corridor identifier after index
# Corridor 1 : City Center-Darussalam Route
corr1.insert(0, 'Corridor', 1)

In [ ]:
# Remove unused column
corr1.drop(columns=['NO', 'NAMA', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename non the rest
corr1.rename(columns={'Unnamed: 1' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr1

## Table 2

In [ ]:
# extracting dataframe
corr2 = pd.DataFrame(list[1][0])

In [ ]:
# Corridor 2 : City Center-Blang Bintang Route
corr2.insert(0, 'Corridor', 2)

In [ ]:
# Remove unused column
corr2.drop(columns=['NO', 'TAHUN PEMBANGUNAN'], axis=1, inplace=True)

# Remove NaN Coordinates
corr2.dropna(axis=0, inplace=True)

# Rename the rest
corr2.rename(columns={'NAMA' : 'Name', 'KOORDINAT' : 'Coordinates' }, inplace=True)
corr2

## Table 3

In [ ]:
# extracting table
corr3 = pd.DataFrame(list[2][0])

# Corridor 3 : City Center-Mata Ie Route
corr3.insert(0, 'Corridor', 3)

In [ ]:
# Remove unused row
# the last bus stop (index=20) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr3.drop(index=[0, 1, 20], inplace=True)

# Remove unused column
corr3.drop(columns=['Unnamed: 0', 'Unnamed: 2', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr3.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 3' : 'Coordinates' }, inplace=True)
corr3

## Table 4

In [ ]:
# extracting table
corr4 = pd.DataFrame(list[3][0])

# Corridor 4 : City Center-Ulee Kareng - Blang Bintang Route
corr4.insert(0, 'Corridor', 4)

In [ ]:
# Remove unused row
# the last bus stop (index=24) will be deleted, because is not yet available, listed as on-demand ("sesuai demand" in bahasa)
corr4.drop(index=[0, 1, 24], inplace=True)

# Remove unused column
corr4.drop(columns=['Unnamed: 0', 'TAHUN PEMBANGUNAN'], inplace=True)

# Rename the rest
corr4.rename(columns={'Unnamed: 1' : 'Name', 'Unnamed: 2' : 'Coordinates' }, inplace=True)
corr4

## Merge Corridors dataframe

In [ ]:
bus_stops_df = pd.concat([corr1, corr2, corr3, corr4], ignore_index=True)
bus_stops_df

## Visualization using GeoPy and Folium

Get Banda Aceh City latitude and longitude from GeoPy

In [ ]:
# pip install geopy
from geopy.geocoders import Nominatim

In [ ]:
locator = Nominatim(user_agent='myGeocoder', timeout=2) # using timeout > 1 to prevent timeout error
location = locator.geocode('Banda Aceh')

In [ ]:
print('Location : ', location)
print('Banda Aceh Latitude = {} \nBanda Aceh Longitude = {}'.format(location.latitude, location.longitude))

## Corridor visualization

In [ ]:
# conda install folium -c conda-forge
import folium
from folium import plugins

In [ ]:
corridor_colors = {
    '1' : '#FF0000', 
    '2' : '#FFFF00',
    '3' : '#00FF00',
    '4' : '#0000FF'
}

In [ ]:
# map of Aceh
latitude = location.latitude
longitude = location.longitude
bus_stops_map = folium.Map(location=[latitude, longitude], zoom_start=12)

# instantiate a mark cluster
cluster = plugins.MarkerCluster().add_to(bus_stops_map)

# loop through the dataframe and add each data point to the mark cluster
# Label every marker with it's own PostalCode
for corridor, name, coordinates in zip(bus_stops_df.Corridor, bus_stops_df.Name, bus_stops_df.Coordinates):
    latlong = [float(x) for x in coordinates.split(',')]
    folium.Marker(
        location=latlong,
        icon=None,
        popup=name,
    ).add_to(cluster)
 
    
# display map
bus_stops_map

# Forsquare API

In [ ]:
import json
import requests
proxies = {
  "http": None,
  "https": None,
}

# secrets = json.load(open('foursquare-api.json'))
CLIENT_ID = 'HD5WKR30YSH3KWIURZZEZR5RYFMGN0SK13M1ORUNRF4H1YBU'
CLIENT_SECRET = 'XCZPYADWC513C2LKCZBXEXUTWN5OYVDKOK1PYPFMKIZS23QI'
VERSION = '20180323'

In [ ]:
#categories_url = 'https://api.foursquare.com/v2/venues/categories?client_id={}&client_secret={}&v={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION)
            
# make the GET request
#results = requests.get(categories_url).json()

#with open('categories.json', 'w') as json_file:
    #json.dump(results, json_file)

In [ ]:
with open('categories.json', 'r') as f:
    results = json.load(f)

len(results['response']['categories'])

In [ ]:
categories_list = []
# Let's print only the top-level categories and their IDs and also add them to categories_list

def print_categories(categories, level=0, max_level=0):    
    if level>max_level: return
    out = ''
    out += '-'*level
    for category in categories:
        print(out + category['name'] + ' (' + category['id'] + ')')
        print_categories(category['categories'], level+1, max_level)
        categories_list.append((category['name'], category['id']))
        
print_categories(results['response']['categories'], 0, 0)

In [ ]:
def get_venues_count(ll, radius, categoryId):
    explore_url = 'https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={}&radius={}&categoryId={}'.format(
                CLIENT_ID, 
                CLIENT_SECRET, 
                VERSION,
                ll,
                radius,
                categoryId)

    # make the GET request
    return requests.get(explore_url, proxies=proxies).json()['response']['totalResults']

In [ ]:
#Create new dataframe to store venues data
venues_df = bus_stops_df.copy()
for c in categories_list:
    venues_df[c[0]] = 0

venues_df

In [ ]:
#Request number of venues, store result as CSV
for i, row in venues_df.iterrows():
    print(i+70)
    for c in categories_list:        
        venues_df.loc[i+70, c[0]] = get_venues_count(venues_df.Coordinates.iloc[i+70], radius=500, categoryId=c[1])
    venues_df.to_csv('70.csv')

# Plotting to a box plot using atrtist layer

In [1]:
# Read venues csv
import pandas as pd
venues_df = pd.read_csv('venues.csv', index_col=0)
venues_df.head()

,Corridor,Name,Coordinates,Arts & Entertainment,College & University,Event,Food,Nightlife Spot,Outdoors & Recreation,Professional & Other Places,Residence,Shop & Service,Travel & Transport
0,1,HALTE KEUDAH,"5.559781, 95.317649",7,4,0,39,1,6,29,6,39,10
1,1,HALTE PORTABLE MASJID RAYA,"5.553979, 95.318540",12,3,0,28,1,8,37,6,41,11
2,1,HALTE SP. LIMA,"5.556597, 95.323211",5,4,0,30,4,6,41,5,52,9
3,1,HALTE KP. KEURAMAT,"5.558210, 95.327378",10,4,0,20,3,1,34,6,27,4
4,1,HALTE PORTABLE SP. JAMBO TAPE,"5.559729, 95.330911",9,6,0,30,6,15,25,2,17,3

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt